@import 'reset.css';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Slab', serif;
}

.header {
  background-color: #E5F3F2;
  text-align: center;
}

h1 {
  padding: 4rem;
  color: #00A79D;
  font-size: 8rem;
}

h3 {
  max-width: 85%;
  color: #6d6e71;
  font-size: 5rem;
}

h6 {
  color: #6d6e71;
  font-size: 2.2rem;
}

p {
  margin-bottom: 3rem;
  overflow:  scroll;
  word-break: break-word;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 3.4rem;
}

#header-box {
  color: #6D6E71;
}

.input-boxes {
  border: solid #939598 .1rem;
  height: 5rem;
  margin: 1rem;
  padding-left: 1rem; 
  width: 60%;
  font-size: 3rem;
}

.input-boxes::placeholder {
  color: #939598;
}

#show-more-cards,
#show-complete,
#save-btn {
  border-radius: 0;
  margin-bottom: 3rem;
  width: 60.5%;
  background-color: #00A79D;
  color: #FFF;
}

fieldset {
  border: 1px solid #939598;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0 1rem;
}

legend {
  color: #939598;
  font-size: 1.5rem;
}

.show-importance:hover,
#completed-task:hover,
#show-more-cards:hover,
#show-complete:hover, 
#save-btn:hover {
	background-color: #045E55;
}

#save-btn:disabled {
  background-color: #d0d2d3;
}

main {
  margin: auto;
  width: 61%;
}

#search-field {
  border: solid #939598 .1rem;
  height: 5rem;
  margin: 3rem 0;
  padding-left: 1rem;
  width: 100%;
  font-size: 3rem;
}

#search-field::placeholder {
  color: #939598;
}

.cards {
  margin-top: 1rem;
  padding: 0 1rem;
}

#delete-btn,
#upvote-btn,
#downvote-btn {
  height: 3.5rem;
  width: 3.5rem;
  background-repeat: no-repeat;
}

#delete-btn {
  float: right;
  background-image: url('images/delete.svg');
}

#delete-btn:hover {
  background-image: url('images/delete-hover.svg');
}

#upvote-btn {
  margin-right: 1.5rem;
  background-image: url('images/upvote.svg');
}

#upvote-btn:hover {
 background-image: url('images/upvote-hover.svg');
}

#downvote-btn {
  margin-right: 1rem;
  background-image: url('images/downvote.svg');
}

#downvote-btn:hover {
  background-image: url('images/downvote-hover.svg');
}

.top-card {
  display: inline-block;
  margin: 2rem auto;
}

img {
  height: 2rem;
  width: 2rem;
}

.card-button{
  border: none;
  border-radius: 100%;
}

.bottom-line {
  display: inline-block;
  vertical-align: middle;
}

hr {
  margin-top: 1rem;
  border-color: #d1d3d4;
}

#completed-task {
  display: block;
  margin: 1rem auto;
  background: #d0d2d3;
  color: #fff;
  font-size: 2rem;
}

.strike-through {
  text-decoration: line-through;
}

#show-more-cards,
#show-complete {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 2.5rem;
}

.show-importance {
  height: 3rem;
  margin: 0 .4rem 1rem 0;
  width: 18%;
  background: #00A79D;
  color: #fff;
  font-size: 2rem;
}

#show-more-cards {
  margin-top: 1rem;
}

.importance-buttons {
  display: flex;
  justify-content: space-evenly;
}

.passed-due {
  background-color: #DE5555;
}

.passed-due h3,
.passed-due p,
.passed-due h6,
.passed-due label {
  color: #fff;
}

label {
  float: right;
  color: #6d6e71;
  font-size: 1.5rem;
}

#date {
  vertical-align: bottom;
  color: #6d6e71;
  font-size: 1.5rem;
}

.error-message {
  margin: 0;
  color: red;
  font-size: 2rem;
}

@media screen and (max-width: 1600px) {
  #show-complete {
    width: 100%;
  }

  #save-btn {
    width: 61%;
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 7.5rem;
  }

  label {
    float: none;
    display: block;
    margin: 1rem auto;
  }

  #completed-task {
    display: inline-block;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    padding: 2rem;
    font-size: 7rem;
  }

  h3 {
    font-size: 4.5rem;
  }

  h6 {
    font-size: 1.75rem;
  }

  p {
    max-height: 15.3rem;
    width: 100%;
    font-size: 2.5rem;
  }

  #delete-btn,
  #downvote-btn,
  #upvote-btn {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 60%;
  }

  .importance-buttons {
    display: block;
  }
  
  #completed-task,
  .show-importance {
    width: 100%;
  }
  
  #show-more-cards,
  #show-complete {
    font-size: 2rem;
  }

  h1 {
    padding: 2.4rem;
    font-size: 6rem;
  }

  .input-boxes {
    width: 80%;
  }

  #input-body {
    height: 15rem;
    text-align: left;
  }
  
  #show-complete,
  #save-btn {
    height: 6rem;
  }

  #save-btn,
  .body {
    width: 82%;
  }
}
